<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card-title>Create</ion-card-title>
    <ion-card-title>Account</ion-card-title>
  </div>
  
  <ion-item lines="none">
    <ion-label position="stacked"><span>Your Email</span><span *ngIf="email_input === ''" id="missing_email">Please fill in this field.</span></ion-label>
    <ion-input [(ngModel)]="email_input" type="email"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked"><span>Username</span><span *ngIf="username_input === ''" id="missing_username">Please fill in this field.</span></ion-label>
    <ion-input [(ngModel)]="username_input" type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked"><span>Password</span><span *ngIf="password_input === ''" id="missing_pwd">Please fill in this field.</span></ion-label>
    <ion-input [(ngModel)]="password_input" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="createAccount()">
    Create Account
  </ion-button>

  <ion-button expand="block" fill="outline" (click)="google()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Sign up with Google
  </ion-button>

  <ion-text>
    <p>Already have an account? <a>Sign in</a></p>
  </ion-text>
</ion-content>
